# Compiled C executables
/01-hello-world/hello
/02-command-line-arguments/arguments
/03-simple-calculator/basic_calculator
/03-simple-calculator/calculator_zero_safe
/04-loops/for-loop
/04-loops/while-loop
/04-loops/if-elif-else
/04-loops/loop-*
/05-functions/function-*
/05-functions/calculator-functions
/06-header-files/calculator
/06-header-files/*.o
/07-arrays/array-basics
/07-arrays/array-basics-modified
/07-arrays/array-basics-two
/08-object-sizes-sizeof/array-size-t-experiment
/08-object-sizes-sizeof/temperature-tracker
/_parked/tiny-echo
