# Compiled C executables
/01-hello-world/hello
/02-command-line-arguments/arguments
/03-simple-calculator/basic_calculator
/03-simple-calculator/calculator_zero_safe
/04-loops/for-loop
/04-loops/while-loop
/04-loops/if-elif-else
/04-loops/loop-*
